markdown-it-py            3.0.0              pyhd8ed1ab_1    conda-forge
markupsafe                3.0.2           py312h998013c_1    conda-forge
matplotlib                3.10.1          py312h1f38498_0    conda-forge
matplotlib-base           3.10.1          py312hdbc7e53_0    conda-forge
matplotlib-inline         0.1.7              pyhd8ed1ab_1    conda-forge
nbclient                  0.10.2             pyhd8ed1ab_0    conda-forge
nbconvert-core            7.16.6             pyh29332c3_0    conda-forge
nbformat                  5.10.4             pyhd8ed1ab_1    conda-forge
nbsphinx                  0.9.7                    pypi_0    pypi
ncurses                   6.5                  h5e97a16_3    conda-forge
notebook                  7.4.1              pyhd8ed1ab_0    conda-forge
notebook-shim             0.2.4              pyhd8ed1ab_1    conda-forge
numpy                     2.2.5           py312h7c1f314_0    conda-forge
pandas                    2.2.3           py312hcb1e3ce_3    conda-forge
pandocfilters             1.5.0              pyhd8ed1ab_0    conda-forge
pip                       25.1               pyh8b19718_0    conda-forge
scipy                     1.15.2          py312h99a188d_0    conda-forge
setuptools                80.1.0             pyhff2d567_0    conda-forge
sphinx                    8.1.3                    pypi_0    pypi
sphinx-autobuild          2024.10.3                pypi_0    pypi
sphinx-rtd-theme          3.0.2                    pypi_0    pypi
sphinxcontrib-applehelp   2.0.0              pyhd8ed1ab_1    conda-forge
sphinxcontrib-devhelp     2.0.0              pyhd8ed1ab_1    conda-forge
sphinxcontrib-htmlhelp    2.1.0              pyhd8ed1ab_1    conda-forge
sphinxcontrib-jquery      4.1                      pypi_0    pypi
sphinxcontrib-jsmath      1.0.1              pyhd8ed1ab_1    conda-forge
sphinxcontrib-qthelp      2.0.0              pyhd8ed1ab_1    conda-forge
sphinxcontrib-serializinghtml 1.1.10             pyhd8ed1ab_1    conda-forge
types-python-dateutil     2.9.0.20241206     pyhd8ed1ab_0    conda-forge
typing-extensions         4.13.2               h0e9735f_0    conda-forge
typing_extensions         4.13.2             pyh29332c3_0    conda-forge
typing_utils              0.1.0              pyhd8ed1ab_1    conda-forge

